* {
  padding: 3px 0px 2px 0px;
  font-size: 18px;
  /* background-color: #121212; */
  color: #d0d0d0;
}

header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
.header {
  /* padding: 0px 150px 0px 150px; */
  width: 100%;

}

img {
  width: 60px;
}

a {
  text-decoration: none;
}

i {
  cursor: pointer;
}

.menu {
  margin-top: 18px;
}

a:hover,
i:hover {
  color: #fefefe;
}
