* {
  padding: 1px 0px 2px 0px;
  font-size: 18px;
  color: #d0d0d0;
}

header {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}
.header {
  width: 100%;
  transition: background-color 0.5s ease;
}

.header-scrolled {
  background-color: rgba(27, 26, 26, 0.7);
}

img {
  width: 60px;
}

a {
  text-decoration: none;
}

i {
  cursor: pointer;
}

.menu {
  margin-top: 18px;
}

a:hover,
i:hover {
  color: #fefefe;
}
